<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="HoangCong\Blog\Api\PostRepositoryInterface" type="HoangCong\Blog\Model\PostRepository"/>
    <preference for="HoangCong\Blog\Api\Data\PostInterface" type="HoangCong\Blog\Model\Post"/>
    <preference for="HoangCong\Blog\Api\Data\PostSearchResultInterface" type="HoangCong\Blog\Model\PostSearchResult"/>
    <preference for="HoangCong\Blog\Api\CommentRepositoryInterface" type="HoangCong\Blog\Model\CommentRepository"/>
    <preference for="HoangCong\Blog\Api\Data\CommentInterface" type="HoangCong\Blog\Model\Comment"/>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_post_listing_data_source" xsi:type="string">HoangCong\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HoangCong\Blog\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hoangcong_blog</argument>
            <argument name="resourceModel" xsi:type="string">HoangCong\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
     <!-- <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_comment_listing_data_source" xsi:type="string">HoangCong\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="HoangCong\Blog\Model\ResourceModel\Comment\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">hoangcong_blog_comment</argument>
            <argument name="resourceModel" xsi:type="string">HoangCong\Blog\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType> -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="blog_comment_listing_data_source" xsi:type="string">HoangCong\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
</type>
<type name="HoangCong\Blog\Model\ResourceModel\Comment\Grid\Collection">
    <arguments>
        <argument name="mainTable" xsi:type="string">hoangcong_blog_comment</argument>
        <argument name="eventPrefix" xsi:type="string">namespace_hoangcong_blog_grid_collection</argument>
        <argument name="eventObject" xsi:type="string">namespace_grid_collection</argument>
        <argument name="resourceModel" xsi:type="string">HoangCong\Blog\Model\ResourceModel\Comment</argument>
    </arguments>
</type>
</config>