{{template config_path="design/email/header_template"}}
<table>
        <tr class="email-intro">
            <td>
                    <p>
                        toi la cong
                        <!-- {{trans "Hello %user_name," user_name=$name }} -->
                    </p>
            </td>
        </tr>
        <tr class="email-infomation">
            <td>
                {{trans "We have received your comment and should approve it to appear soon!"}}
            </td>
        </tr>

</table>
{{template config_path="design/email/footer_template"}}